@page
@model IskconKBCServer.SkillsModel
@{
    ViewData["Title"] = "Skills";
}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " href="/Enrolment/FamilyMember">Family Members</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Enrolment/Details">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Enrolment/Language">Language</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/Enrolment/Skills">Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Enrolment/SpiritualInfo">Spiritual Info</a>
        </li>
    </ul>

